.contentCellWrapper  {
 	padding-left: 0px;
 	padding-right: 0px;
}

.contentCellTop  {
 	height: 8px;
}

.contentCellBottom  {
 	height: 6px;
}

.premiumCellTop  {
 	height: 8px;
}

.premiumCellBottom  {
 	height: 8px;
}

.findFormCellTop  {
 	height: 8px;
 	padding-top: 8px;
}

.findFormCellBottom  {
 	clear: none;
 	margin-bottom: -8px;
 	padding-bottom: 0px;
 	padding-left: 15px;
}

.contentCellNavigation  {
 	padding-bottom: 8px;
 	padding-top: 3px;
}

.mapWrapper  {
 	margin-left: 8px;
 	margin-right: 8px;
 	margin-top: 8px;
}

.userAlert  {
 	margin-bottom: 4px;
 	margin-left: 30px;
 	margin-right: 30px;
 	margin-top: 4px;
}

.contentCellResultAddress  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellResultHeader  {
 	padding-left: 8px;
}

.premiumCellHeader  {
 	padding-left: 8px;
}

.premiumCellAddress  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellBrowseLink  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellSurveyLink  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellSurveyText  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellResultAction  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.premiumCellAction  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellBrowseCurrentCategory  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellBrowseSubCategory  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellDetailAction  {
 	padding-bottom: 8px;
 	padding-left: 8px;
 	padding-right: 8px;
 	padding-top: 8px;
}

.contentCellDetailActionLast  {
 	padding-bottom: 0px;
 	padding-left: 8px;
 	padding-right: 8px;
 	padding-top: 8px;
}

.businessDetailTextSubHeader  {
 	margin-left: 8px;
 	margin-right: 8px;
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellResultExtraInfo  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellGenericLink  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellGenericText  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellGenericHeader  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellSurveyQuestionWrapper  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellSurveyQuestionWrapperLast  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.ymPaginationLink  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.ymPaginationLinkLast  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.genericTextWrapper  {
 	margin-left: 30px;
 	margin-right: 30px;
}

.businessDetailText  {
 	padding-bottom: 8px;
 	padding-left: 16px;
 	padding-right: 16px;
 	padding-top: 4px;
}

.mapControl  {
 	margin-bottom: 3px;
 	margin-left: 3px;
 	margin-right: 3px;
 	margin-top: 3px;
}

#popular .contentCellBrowseLink  {
 	clear: none;
 	float: left;
 	padding-bottom: 0px;
 	padding-left: 0px;
 	padding-right: 0px;
 	padding-top: 0px;
 	width: 50%;
}

.footerLegalHelp  {
 	padding-bottom: 8px;
 	padding-top: 8px;
}

.footerCopyright  {
 	padding-bottom: 8px;
 	padding-top: 8px;
}

.contentCellBrowseCurrentCategory  {
 	padding-bottom: 8px;
}

.contentCellDetailActionFirst  {
 	padding-bottom: 8px;
 	padding-left: 8px;
 	padding-right: 8px;
 	padding-top: 0px;
}

.contentCellDetailActionOrphan  {
 	padding-left: 8px;
 	padding-right: 8px;
}

.contentCellBrowseHeader  {
 	padding-left: 8px;
 	text-align: left;
}

.locationTip  {
 	display: none;
}

.findFormLabelCell  {
 	display: block;
 	float: none;
 	padding-left: 10px;
 	padding-right: 14px;
}

.findFormInputCell  {
 	display: block;
 	float: none;
 	padding-left: 10px;
 	padding-right: 14px;
 	width: 100%;
}

.findFormSearch  {
 	clear: none;
 	float: left;
}

.findFormNear  {
 	clear: none;
 	float: left;
}

.findFormRadioCell  {
 	font-size: 120%;
 	font-weight: bold;
 	margin-bottom: -26px;
 	padding-left: 15px;
}

.networkWrapper  {
 	text-align: center;
}

#findFormFindLabel  {
 	padding-bottom: 5px;
}

#findLocationInput  {
 	font-size: 110%;
}

#sharePhoneInput  {
 	font-size: 110%;
}

#findSearchInput  {
 	font-size: 110%;
}

.networkWrapper  {
 	display: none;
}

.seoBreakWrapper  {
 	display: inline;
}

body  {
 	font-size: 120%;
}

#findFormNearLabel  {
 	padding-bottom: 5px;
}

#resultsMapColumn  {
 	float: right;
 	width: 40%;
}

#resultsColumn  {
 	float: left;
 	width: 60%;
}

.roundedWrapper  {
 	clear: left;
}

#detailsActionsColumn  {
 	float: left;
 	width: 60%;
}

#detailsMapColumn  {
 	float: left;
}

.findFormSubmitCell  {
 	clear: none;
 	float: left;
 	margin-left: 10px;
 	margin-top: 30px;
}

.contentCellBrowseLink a  {
 	display: block;
 	margin-bottom: 8px;
 	margin-left: 8px;
 	margin-right: 8px;
 	margin-top: 8px;
}

#findForm  {
 	clear: both;
}

#findFormWrapper  {
 	width: 40%;
}

#actionModuleFirewall  {
 	left: 0px;
 	position: fixed;
 	top: 0px;
 	visibility: hidden;
 	width: 99.8%;
}

#actionModuleWindowBorder  {
 	background-color: #e7e9eb;
 	border-bottom-color: #7a7a7a;
 	border-bottom-style: solid;
 	border-bottom-width: 4px;
 	border-left-color: #7a7a7a;
 	border-left-style: solid;
 	border-left-width: 4px;
 	border-right-color: #7a7a7a;
 	border-right-style: solid;
 	border-right-width: 4px;
 	border-top-color: #7a7a7a;
 	border-top-style: solid;
 	border-top-width: 4px;
 	padding-bottom: 6px;
 	width: auto;
}

#actionModuleWindowContent  {
 	margin-bottom: 5px;
 	margin-left: 5px;
 	margin-right: 5px;
 	margin-top: 5px;
}

.actionModuleTitle  {
 	font-size: 0.9em;
 	padding-top: 6px;
 	text-align: center;
}

.actionModuleMoreLink  {
 	float: right;
 	margin-bottom: 0px;
 	margin-top: 0px;
 	text-align: none;
 	width: 90px;
}

.actionModuleHiddenContent  {
 	height: 0px;
 	visibility: hidden;
}

.actionModuleOpenButtonWrapper  {
 	float: right;
 	margin-right: 6px;
 	margin-top: -6px;
}

.actionModuleOpenButtonWrapper a .actionModuleOpenButtonWrapper a  {
 	background-color: transparent;
}

#actionModuleWindowArrow  {
 	height: 15px;
 	left: -11px;
 	position: absolute;
 	top: 89px;
 	width: 33px;
}

.actionModuleOpenButtonBelowImageWrapper  {
 	clear: right;
 	float: right;
 	margin-bottom: 5px;
 	margin-right: 6px;
 	margin-top: -4px;
}

.actionModuleOpenButtonAnchor  {
 	display: block;
 	height: 32px;
 	width: 34px;
}

#actionModuleWindowContainer  {
 	height: 0px;
 	left: 60%;
 	margin-left: -6px;
 	padding-bottom: 20px;
 	position: absolute;
 	visibility: hidden;
 	width: 39.6%;
}

.listingActionLinkOverflow  {
 	font-size: 0.9em;
}

#resultsMapColumn #mapWindow  {
 	height: 400px;
}

#resultsColumn .roundedUpper #resultsColumn .roundedContent #resultsColumn .roundedLower  {
 	margin-left: 0px;
 	margin-right: 0px;
}

#resultsMapColumn .mapWrapper  {
 	margin-bottom: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-top: 8px;
}

#resultsColumnInner  {
 	margin-left: 15px;
 	margin-right: 15px;
}

.actionModuleMoreLink .roundedContent  {
 	text-align: center;
}

.actionModuleMoreLink .roundedUpper  {
 	margin-top: 0px;
}

#detailsColumnInner  {
 	margin-left: 15px;
 	margin-right: 15px;
}

#detailsColumnInner .roundedUpper #detailsColumnInner .roundedContent #detailsColumnInner .roundedLower  {
 	margin-left: 0px;
 	margin-right: 0px;
}

#resultsMapColumn .roundedUpper #resultsMapColumn .roundedContent #resultsMapColumn .roundedLower  {
 	margin-left: 0px;
 	margin-right: 0px;
}

#resultsMapColumnInner  {
 	margin-right: 15px;
}

#backToResultsWrapper .roundedUpper #backToResultsWrapper .roundedContent #backToResultsWrapper .roundedLower  {
 	margin-left: 15px;
 	margin-right: 15px;
}

#homeLinkWrapper .roundedUpper #homeLinkWrapper .roundedContent #homeLinkWrapper .roundedLower  {
 	margin-left: 15px;
 	margin-right: 15px;
}

#backToResultsWrapper  {
 	clear: both;
 	margin-bottom: -6px;
 	padding-top: 4px;
}

.premiumCellExtraInfo .contentCellResultExtraInfo  {
 	width: 85%;
}

.dirtyThubHack {
	clear: both;
}

