#findFormNearLabel  {
 	margin-top: 13px;
}

.contentCellWrapper  {
 	background-color: #ffffff;
}

.findFormWrapper  {
 	background-color: #ffdc00;
}

.networkBreakWrapper  {
 	display: block;
 	margin-bottom: 1px;
 	margin-left: 1px;
 	margin-right: 1px;
 	margin-top: 1px;
 	text-align: center;
}

#freeImg  {
 	border-top-color: #129ade;
 	border-top-style: solid;
 	border-top-width: 1px;
}

#chargesImg  {
 	border-top-color: #fa6201;
 	border-top-style: solid;
 	border-top-width: 1px;
}

body  {
 	margin-bottom: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-top: 0px;
 	padding-bottom: 0px;
 	padding-left: 0px;
 	padding-right: 0px;
 	padding-top: 0px;
}

.headerWrapper  {
 	padding-left: 4px;
}

.contentCellWrapper  {
 	clear: both;
 	margin-left: 8px;
}

.premiumCellWrapper  {
 	background-color: #fff9cf;
 	margin-left: 8px;
}

.findFormWrapper  {
 	margin-left: 8px;
}

.mapWrapper  {
 	margin-left: 8px;
}

.sortImgWrapperOn  {
 	display: block;
 	float: left;
 	margin-bottom: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-top: 0px;
 	padding-bottom: 0px;
 	padding-left: 0px;
 	padding-right: 0px;
 	padding-top: 0px;
 	width: 45%;
}

.sortImgWrapperOff  {
 	display: block;
 	float: left;
 	margin-bottom: 0px;
 	margin-left: 0px;
 	margin-right: 0px;
 	margin-top: 0px;
 	width: 45%;
}

.sortWrapper  {
 	padding-left: 12px;
}

