.sortWrapper .resultsInfo .minorHeader  {
 	width: 230px;
}

body  {
 	width: 240px;
}

.sortWrapper span img .sortWrapper span a img  {
 	vertical-align: middle;
}

.sortWrapper span a img  {
 	padding-top: 9px;
}

.contentCellBrowseLast  {
 	padding-top: 8px;
}

