.findFormWrapper  {
 	border-bottom-color: #f2f2f2;
 	border-bottom-style: solid;
 	border-bottom-width: 8px;
 	border-top-color: #f2f2f2;
 	border-top-style: solid;
 	border-top-width: 8px;
}

.networkInnerWrapper  {
 	display: inline;
 	width: 50px;
}

.footerLegalHelpA  {
 	content: false;
}

.contentCellWrapper .networkWrapper  {
 	border-top-color: #f2f2f2;
 	border-top-style: solid;
 	border-top-width: 8px;
}

.networkBreakWrapper  {
 	display: inline;
 	width: 100px;
}

.networkBreakWrapper  {
 	display: inline;
 	width: 150px;
}

.contentCellBottom  {
 	content: sensisfalse;
 	visibility: hidden;
}

#footerPagination div  {
}

